@charset "UTF-8";
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.icon::before {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-burger::before {
  content: "\e900"; }

.icon-video::before {
  content: "\e901"; }

.icon-pointer::before {
  content: "\e902"; }

.icon-photo::before {
  content: "\e903"; }

.icon-eye::before {
  content: "\e904"; }

.icon-twitter::before {
  content: "\e905"; }

.icon-instagram::before {
  content: "\e906"; }

.icon-vk::before {
  content: "\e907"; }

.icon-facebook::before {
  content: "\e908"; }

.icon-telegram::before {
  content: "\e909"; }

.icon-arrow-down::before {
  content: "\e90a"; }

.icon-close::before {
  content: "\e90b"; }

.icon-camera::before {
  content: "\e90c"; }

.icon-no-camera::before {
  content: "\e90d"; }

.icon-plus::before {
  content: "\e912"; }

.icon-cross::before {
  content: "\e910"; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s, visibility 0s linear .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s, visibility 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  text-align: center;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -.25em;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide--image {
  overflow: visible;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px 6px 0 6px; }

.fancybox-slide--iframe {
  padding: 44px 44px 0; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 6px 0;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  margin: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-drag .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-dragging .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--html .fancybox-content {
  margin-bottom: 6px; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
  height: calc(100% - 44px);
  margin-bottom: 44px; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  vertical-align: top; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: color .2s;
  vertical-align: top;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff; }

.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default; }

.fancybox-button svg {
  display: block;
  overflow: visible;
  position: relative;
  shape-rendering: geometricPrecision; }

.fancybox-button svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.fancybox-button--play svg path:nth-child(2) {
  display: none; }

.fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.fancybox-button--play svg path,
.fancybox-button--share svg path,
.fancybox-button--thumbs svg path {
  fill: currentColor; }

.fancybox-button--share svg path {
  stroke-width: 1; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  height: 38px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  top: 50%;
  width: 38px; }

.fancybox-show-nav .fancybox-navigation .fancybox-button {
  transition: opacity .25s, visibility 0s, color .25s; }

.fancybox-navigation .fancybox-button::after {
  content: '';
  left: -25px;
  padding: 50px;
  position: absolute;
  top: -25px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 6px; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #555;
  cursor: pointer;
  height: 44px;
  margin: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  z-index: 10; }

.fancybox-close-small svg {
  fill: transparent;
  opacity: .8;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: stroke .1s; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:hover svg {
  opacity: 1; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  color: #ccc;
  padding: 5px;
  right: -12px;
  top: -44px; }

.fancybox-slide--image .fancybox-close-small:hover svg,
.fancybox-slide--video .fancybox-close-small:hover svg,
.fancybox-slide--iframe .fancybox-close-small:hover svg {
  background: transparent;
  color: #fff; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0; }

.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1; }

.fancybox-caption::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  border: 6px solid rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  border-top-color: #fff;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: .6;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #fff;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs > ul {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x > ul {
  overflow: hidden; }

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs > ul > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.fancybox-thumbs > ul > li:before {
  border: 4px solid #4ea7f9;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs .fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } }

body {
  background: #fff;
  color: #333;
  font: 400 16px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0; }

a {
  color: #00a896; }
  a:hover {
    color: #00a896;
    text-decoration: none; }

.page {
  min-width: 1240px;
  width: 100%;
  overflow-x: hidden; }

.social-link {
  box-sizing: border-box;
  width: 40px;
  border-radius: 2px;
  overflow: hidden;
  position: relative; }
  .social-link::before {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 16px;
    left: 12px;
    top: 12px; }

.social-viber::before {
  content: "\e900"; }

.social-facebook::before {
  content: "\e901"; }

.social-vk::before {
  content: "\e902"; }

.control {
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
  position: relative; }
  .control-lite {
    line-height: 36px; }

.button {
  display: inline-block;
  padding: 0 30px;
  line-height: 40px;
  color: #fff;
  background: #00a896;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  cursor: pointer; }
  .button.lite {
    background: #fff;
    color: #333;
    border: 2px solid #00a896;
    line-height: 36px; }
    .button.lite.icon::before {
      color: #00a896;
      margin: 10px 0 0 -28px; }
    .button.lite:hover {
      color: #333; }
  .button:hover {
    color: #fff; }
  .button.icon {
    padding-left: 50px; }
    .button.icon::before {
      position: absolute;
      margin: 12px 0 0 -30px; }

.params {
  padding-right: 60px; }
  .params-row + .params-row .form-field-label {
    display: none; }
  .params-row + .params-row .form-fields-row-delete {
    margin-top: 0; }
  .params-button {
    margin-top: 20px; }

.search {
  float: left;
  width: 40px;
  height: 40px;
  position: relative; }
  .search-form {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    border-radius: 2px;
    overflow: hidden;
    transition: left ease .3s; }
    .search-form:hover {
      box-shadow: inset 0 0 0 1px #00a896; }
    .search-form.search-form-wide {
      box-shadow: inset 0 0 0 1px #e5e5e5; }
    .search-form-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 1000px;
      box-sizing: border-box; }
    .search-form-input {
      position: absolute;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      height: 40px;
      font: 400 16px/40px "Roboto", sans-serif;
      padding: 0 120px 0 50px;
      border: 0;
      background: none;
      outline: none; }
    .search-form-button {
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      text-align: center;
      color: #fff;
      border: 0;
      border-radius: 2px;
      padding: 0;
      height: 40px;
      font: 400 16px/40px "Roboto", sans-serif;
      background: #00a896;
      cursor: pointer; }
    .search-form-switcher {
      width: 40px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      z-index: 2; }
      .search-form-switcher::before {
        font-family: 'icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e903";
        font-size: 16px;
        position: absolute;
        color: #aaa;
        left: 12px;
        top: 12px;
        transition: color ease .3s; }
        .search-form-wide .search-form-switcher::before {
          color: #00a896; }
  .search-static {
    width: 100%; }
    .search-static .search-form-content {
      width: 100%; }
    .search-static .search-form-switcher::before {
      color: #00a896; }
  .search-result {
    margin: 0;
    padding: 0;
    list-style: none; }
    .search-result-item {
      border-bottom: 1px solid #dedede;
      padding-bottom: 30px;
      margin-top: 30px; }
      .search-result-item:first-child {
        margin-top: 0; }
    .search-result-link {
      font-size: 20px;
      font-weight: 500;
      color: #333;
      text-decoration: none; }
      .search-result-link:hover {
        color: #00a896; }
    .search-result-lead {
      margin-top: 10px;
      line-height: 24px; }

.lang {
  float: left;
  margin-left: 20px; }
  .lang-button {
    border: 1px solid #e5e5e5;
    width: 110px;
    padding-left: 50px;
    position: relative;
    cursor: pointer; }
    .lang-button:hover {
      border-color: #00a896; }
    .lang-button::before {
      position: absolute;
      left: 20px;
      top: 0;
      line-height: 38px; }
    .lang-button::after {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e906";
      font-size: 8px;
      position: absolute;
      color: #333;
      right: 16px;
      top: 16px; }
  .lang-ru::before {
    content: url(../images/lang_ru.gif); }

.paginator {
  margin-top: 40px; }
  .paginator-element {
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    box-sizing: border-box;
    line-height: 38px;
    border-width: 1px;
    border-style: solid;
    width: 40px;
    text-align: center; }
  .paginator-link {
    border-color: #e5e5e5;
    color: #333;
    text-decoration: none; }
    .paginator-link:hover {
      color: #333;
      border-color: #00a896; }
    .paginator-link-general {
      width: auto;
      padding: 0 25px; }
  .paginator-current {
    color: #fff;
    background: #00a896;
    border-color: #00a896; }
  .paginator-span {
    border-color: transparent;
    width: auto;
    color: #999; }

.gallery {
  width: 1120px; }
  .gallery::after {
    content: '';
    display: table;
    clear: both; }
  .gallery.owl-carousel {
    position: relative;
    margin-left: 40px; }
    .gallery.owl-carousel .owl-nav {
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      z-index: 2;
      top: 0; }
      .gallery.owl-carousel .owl-nav .owl-prev,
      .gallery.owl-carousel .owl-nav .owl-next {
        position: absolute;
        width: 40px;
        height: 0;
        border-radius: 2px;
        top: 70px;
        background: #00a896;
        color: #fff;
        padding-top: 40px !important;
        overflow: hidden; }
        .gallery.owl-carousel .owl-nav .owl-prev::before,
        .gallery.owl-carousel .owl-nav .owl-next::before {
          font-family: 'icons' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\e905';
          font-size: 12px;
          font-weight: bold;
          position: absolute;
          top: 14px; }
      .gallery.owl-carousel .owl-nav .owl-prev {
        left: -40px; }
        .gallery.owl-carousel .owl-nav .owl-prev::before {
          left: 13px;
          transform: rotate(90deg); }
        .gallery.owl-carousel .owl-nav .owl-prev::after {
          left: 40px; }
      .gallery.owl-carousel .owl-nav .owl-next {
        right: -40px; }
        .gallery.owl-carousel .owl-nav .owl-next::before {
          right: 13px;
          transform: rotate(-90deg); }
        .gallery.owl-carousel .owl-nav .owl-next::after {
          right: 40px; }
    .gallery.owl-carousel .owl-stage-outer::before, .gallery.owl-carousel .owl-stage-outer::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      background: #fff; }
    .gallery.owl-carousel .owl-stage-outer::before {
      left: 0; }
    .gallery.owl-carousel .owl-stage-outer::after {
      right: 0; }
    .gallery.owl-carousel .owl-dots {
      display: none; }
  .gallery-item {
    float: left;
    width: 280px;
    height: 180px; }
  .gallery-link {
    width: 260px;
    display: block;
    margin: 0 auto; }
  .gallery-image {
    height: 180px;
    display: block; }
  .gallery-edit-item {
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 0 0; }
  .gallery-edit-image {
    width: 110px;
    height: 110px;
    border: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px; }
    .gallery-edit-image img {
      max-width: 100%;
      max-height: 100%; }
  .gallery-edit-delete, .gallery-edit-delete:hover {
    color: #f00; }
  .gallery-edit-add {
    border: 2px solid #00a896;
    border-radius: 2px;
    width: 110px;
    height: 110px;
    box-sizing: border-box;
    background: url(../images/photo.png) 50% 50% no-repeat;
    position: relative;
    cursor: pointer; }
    .gallery-edit-add::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e912';
      color: #00a896;
      position: absolute;
      left: 45px;
      top: 48px; }
  .gallery-edit-info {
    margin: 20px 0 0; }
    .gallery-edit-info b {
      margin: 0 0 10px;
      font-weight: 400;
      display: block;
      color: #00a896; }

.news {
  margin: -20px 0 -20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .news::before, .news::after {
    content: '';
    position: absolute;
    width: 1px;
    top: 10px;
    bottom: 10px;
    background: #e9edef; }
  .news::before {
    left: 400px; }
  .news::after {
    left: 800px; }
  .news-item {
    float: left;
    margin: 20px;
    width: 360px; }
  .news-image {
    margin: 0 0 20px;
    display: block; }
    .news-image:hover ~ .news-link {
      color: #00a896; }
    .news-image-tag {
      display: block; }
  .news-info {
    font-weight: 100;
    margin: 0 0 15px; }
  .news-date {
    color: #8a8a8a;
    padding-left: 20px; }
    .news-date::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e904";
      position: absolute;
      margin-left: -20px;
      margin-top: 4px;
      color: #00a896;
      font-size: 12px; }
  .news-tag {
    float: right;
    padding: 0 10px;
    background: #00a896;
    color: #fff;
    border-radius: 2px;
    height: 20px;
    line-height: 20px; }
  .news-link {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px; }
    .news-link:hover {
      color: #00a896;
      text-decoration: none; }
  .news-details {
    margin: -40px 0 80px; }
    .news-details-part, .news-details-value {
      padding: 10px 20px;
      display: block; }
    .news-details-part {
      float: left;
      position: relative;
      font-weight: 600;
      clear: left;
      margin-top: 10px; }
      .news-details-part::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        width: 10px;
        border-radius: 2px;
        box-shadow: -5px 0 0 0 #00a896; }
      .news-details-part + .news-details-value {
        margin-top: 10px; }
      .news-details-part:first-child {
        margin-top: 0; }
        .news-details-part:first-child + .news-details-value {
          margin-top: 0; }
    .news-details span {
      margin-right: 20px; }

.events {
  margin: -20px 0 -20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .events-item {
    margin: 20px;
    border: 1px solid #e9edef;
    padding: 50px;
    width: 360px;
    box-sizing: border-box; }
  .events-date {
    margin: 0 0 20px; }
    .events-date span {
      display: inline-block;
      background: #00a896;
      color: #fff;
      height: 30px;
      border-radius: 2px;
      padding: 0 10px;
      line-height: 30px;
      font-size: 14px; }
  .events-title {
    color: #333;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none; }
    .events-title:hover {
      color: #00a896;
      text-decoration: none; }
  .events-lead {
    margin: 20px 0 0;
    line-height: 30px; }

.analitics {
  margin: -20px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .analitics-item {
    margin: 20px;
    padding-right: 20px;
    width: 360px;
    box-sizing: border-box;
    overflow: hidden; }
  .analitics-date {
    float: left; }
    .analitics-date::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e904';
      font-size: 12px;
      color: #00a896; }
    .analitics-date b {
      margin-top: 5px;
      display: block;
      color: #00a896;
      font-size: 24px;
      font-weight: 900; }
    .analitics-date span {
      display: block;
      line-height: 20px; }
  .analitics-title {
    font-weight: 700;
    margin-left: 80px;
    border-left: 1px solid #e9edef;
    padding-left: 20px;
    font-size: 18px;
    line-height: 30px; }
  .analitics-link {
    color: #333;
    text-decoration: none; }
    .analitics-link:hover {
      color: #00a896;
      text-decoration: none; }

.exporters {
  margin: -20px 0 -10px;
  padding: 0;
  list-style: none; }
  .exporters::after {
    content: '';
    display: table;
    clear: both; }
  .exporters-item {
    float: left;
    margin: 10px;
    width: 220px; }
  .exporters-link {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    border: 1px solid #dedede;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333; }
    .exporters-link:hover {
      border-color: #00a896;
      color: #00a896; }
  .exporters-logo {
    height: 130px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .exporters-title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center; }

.exporter-head {
  float: right;
  margin: 0 0 20px 40px; }
  .exporter-head + * {
    margin-top: 0 !important; }

.exporter-logo {
  width: 330px;
  height: 330px;
  border: 1px  solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px; }

.goods {
  margin: -20px 0 -20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .goods-item {
    margin: 20px;
    width: 260px;
    box-sizing: border-box; }
  .goods-link {
    color: #333;
    text-decoration: none;
    display: block; }
    .goods-link:hover {
      color: #00a896; }
  .goods-image {
    display: block;
    border-bottom: 20px solid transparent; }
  .goods-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px; }
  .goods-exporter {
    font-size: 14px; }
  .goods-head {
    float: right;
    margin: 0 0 20px 40px; }
    .goods-head + * {
      margin-top: 0 !important; }
    .goods-head-image {
      display: block;
      width: 330px;
      height: 330px;
      margin: 0 0 20px; }
    .goods-head-exporter {
      margin: 0 0 20px; }
      .goods-head-exporter::after {
        content: '';
        display: table;
        clear: both; }
      .goods-head-exporter-logo {
        float: left;
        width: 70px;
        height: 70px;
        border: 1px solid #dedede;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center; }
      .goods-head-exporter-info {
        margin-left: 90px; }
      .goods-head-exporter-name {
        font-weight: 500; }
  .goods-tools {
    margin-top: 20px; }
    .goods-tools::after {
      content: '';
      display: table;
      clear: both; }
    .goods-tools-edit {
      float: left; }
    .goods-tools-delete, .goods-tools-delete:hover {
      color: #f00;
      float: right; }

.bars {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: -40px; }
  .bars-item {
    width: 240px;
    padding-top: 40px;
    text-align: center;
    margin-top: 40px; }
    .bars-item.blue .bars-value-decor {
      background: linear-gradient(to bottom, #2ea2fb, #016cbf); }
    .bars-item.orange .bars-value-decor {
      background: linear-gradient(to bottom, #e6da00, #e79800); }
    .bars-item.red .bars-value-decor {
      background: linear-gradient(to bottom, #e78d00, #e70100); }
    .bars-item.green .bars-value-decor {
      background: linear-gradient(to bottom, #08c63d, #529546); }
    .bars-item.sea .bars-value-decor {
      background: linear-gradient(to bottom, #3eb88a, #00789f); }
  .bars-value {
    position: relative;
    height: 160px;
    margin-bottom: 30px; }
    .bars-value::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 1000px;
      left: -380px;
      height: 1px;
      background: #dedede; }
    .bars-value-decor {
      position: absolute;
      width: 20px;
      background: black;
      bottom: 0;
      left: 110px;
      z-index: 1; }
    .bars-value-title {
      position: absolute;
      width: 100px;
      left: -40px;
      top: -40px; }
  .bars-title {
    font-size: 18px;
    line-height: 24px;
    padding: 0 30px; }

.custom-select-menu {
  display: block;
  outline: none;
  position: relative; }
  .custom-select-menu label {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    line-height: 38px;
    width: 250px;
    padding: 0 60px 0 20px;
    position: relative;
    /* Prevents text-selection on the label. */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    /* We're giving the label a specific width. 
		Don't forget to set a width for the list of options
		as well (see below). */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .custom-select-menu label.selection-made {
      color: #000; }
    .custom-select-menu label::after {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e905';
      color: #00a896;
      font-size: 10px;
      position: absolute;
      right: 15px;
      top: 15px; }
    .custom-select-menu label.selection-made {
      color: #333; }
    .custom-select-menu label.opened {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
  .custom-select-menu:focus label,
  .custom-select-menu:hover label {
    border-color: #00a896; }
  .custom-select-menu ul {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 250px;
    box-sizing: border-box;
    left: 10px;
    list-style: none;
    margin: 0 -10px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* Allow it to scroll vertically. */
    position: absolute;
    top: 40px;
    z-index: 2;
    padding: 0; }
  .custom-select-menu li {
    background-color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 20px; }
  .custom-select-menu li:hover,
  .custom-select-menu .selected {
    background-color: rgba(0, 0, 0, 0.05); }

.popup,
.overlay {
  display: none; }

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(25, 25, 25, 0.9);
  padding: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; }

.popup {
  width: 800px;
  background: #fff;
  border-radius: 2px;
  padding: 40px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  box-sizing: border-box; }
  .popup.info {
    width: 400px;
    padding: 40px; }
    .popup.info .popup-head {
      margin-bottom: 20px; }
  .popup-head {
    margin: 0 0 40px;
    font-size: 30px;
    font-weight: 500; }
    .popup-head-link {
      font-size: 16px;
      margin-left: 30px; }
  .popup-form {
    display: flex;
    flex-direction: column; }
  .popup-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer; }
    .popup-close::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e910';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 14px;
      color: #00a896; }

.form-fields {
  overflow: auto;
  margin-right: -50px;
  padding-right: 50px; }
  .form-fields-row {
    margin: 20px 0 0;
    display: flex;
    width: 100%;
    position: relative; }
    .form-fields-row .form-field {
      flex: 1 1 auto;
      margin: 0 0 0 20px; }
      .form-fields-row .form-field:first-child {
        margin-left: 0; }
    .form-fields-row:first-child {
      margin: 0; }
    .form-fields-row-delete {
      margin-left: 20px;
      margin-top: 24px;
      padding: 0 !important;
      width: 40px;
      background: #f00;
      position: absolute;
      right: -60px; }
      .form-fields-row-delete::before {
        margin: 12px 0 0 12px !important; }

.form-buttons {
  margin-top: 30px; }
  .form-buttons .button {
    margin-right: 20px; }

.form-fieldset {
  border: 0;
  padding: 0; }
  .form-fieldset-legend {
    font: 500 20px/26px "Roboto", sans-serif;
    margin: 0 0 20px;
    padding: 0; }
  .form-fieldset + .form-fieldset {
    margin-top: 30px; }

.form-field {
  margin: 20px 0 0; }
  .form-field:first-child {
    margin: 0; }
  .form-field-label {
    display: block;
    margin: 0 0 5px; }
  .form-field-input {
    width: 100%;
    display: block; }
  .form-field .form-field-input[type=text],
  .form-field .form-field-input[type=password],
  .form-field textarea.form-field-input {
    border: 1px solid #dedede;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 20px;
    font: 400 16px/38px "Roboto", sans-serif; }
    .form-field .form-field-input[type=text]:focus,
    .form-field .form-field-input[type=password]:focus,
    .form-field textarea.form-field-input:focus {
      border-color: #00a896;
      outline: none; }
  .form-field .form-field-input[type=text],
  .form-field .form-field-input[type=password] {
    height: 40px; }
  .form-field-checkbox {
    display: none; }
    .form-field-checkbox + .form-field-label {
      display: block;
      padding-left: 40px;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .form-field-checkbox + .form-field-label:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: -2px;
        border: 1px solid #dedede;
        border-radius: 2px; }
      .form-field-checkbox + .form-field-label:hover::before {
        border-color: #00a896; }
    .form-field-checkbox:checked + .form-field-label::before {
      border-color: #00a896; }
    .form-field-checkbox:checked + .form-field-label::after {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e911';
      font-size: 11px;
      position: absolute;
      left: 6px;
      top: 4px; }
  .form-field-value .custom-select {
    width: 100%; }
    .form-field-value .custom-select-menu label,
    .form-field-value .custom-select-menu ul {
      width: 100%;
      display: block; }
  .form-field.required .form-field-label::after {
    content: '*';
    font-weight: 700;
    margin-left: 5px;
    color: #d00; }
  .form-field.error .form-field-input {
    outline: none; }
    .form-field.error .form-field-input[type=text], .form-field.error .form-field-input[type=password] {
      border-color: #eb0000;
      background: #ffdada;
      border-radius: 2px 2px 0 0; }
      .form-field.error .form-field-input[type=text] + .form-field-error-message, .form-field.error .form-field-input[type=password] + .form-field-error-message {
        border-radius: 0 0 2px 2px;
        margin: 0; }
  .form-field.error .form-field-error-message {
    background: #eb0000;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    border-radius: 2px 2px;
    margin: 5px 0 0;
    padding: 5px 10px; }

.form-submit, .form-link-button {
  border: 0;
  font: 400 16px/40px "Roboto", sans-serif;
  margin-right: 30px;
  cursor: pointer; }

.form-submit {
  padding: 0 30px;
  border-radius: 2px;
  background: #00a896;
  color: #fff; }

.form-link-button {
  padding: 0;
  background: none;
  display: inline;
  text-decoration: underline;
  color: #00a896; }
  .form-link-button:hover {
    text-decoration: none; }

.add-photo-image {
  border: 1px solid #e4e4e4;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center; }
  .add-photo-image img {
    max-width: 100%;
    max-height: 100%; }

.add-photo-body {
  margin-left: 100px; }

.add-photo-info {
  margin-top: 20px; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.flex-fixed {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; }

.flex-fill {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  min-height: 100px; }

.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0; }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  .header .logo {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    text-decoration: none; }
    .header .logo span {
      color: #00a896; }
  .header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    color: #999;
    margin: 0 0 0 35px; }
  .header .social-link {
    float: left;
    margin-left: -1px;
    border: 1px solid #e5e5e5;
    padding-top: 38px;
    line-height: 38px;
    border-radius: 0; }
    .header .social-link:hover {
      z-index: 1;
      border-color: #00a896; }
    .header .social-link:first-child {
      margin-left: 0;
      border-radius: 2px 0 0 2px; }
    .header .social-link:last-child {
      border-radius: 0 2px 2px 0; }

.menu {
  padding: 25px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase; }
  .menu-link {
    color: #333;
    text-decoration: none; }
    .menu-link:hover {
      color: #00a896;
      text-decoration: underline; }
  .menu-current {
    color: #00a896;
    cursor: default; }

.main-decor {
  margin: 0 -40px; }
  .main-decor::after {
    content: '';
    display: table;
    clear: both; }
  .main-decor + .section {
    border: 0; }
  .main-decor .slider {
    float: left;
    width: 840px;
    height: 640px;
    overflow: hidden; }
    .main-decor .slider .slide {
      position: relative;
      width: 840px;
      height: 640px;
      color: #fff; }
      .main-decor .slider .slide-image {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0; }
      .main-decor .slider .slide-head {
        display: block;
        padding: 110px 0 40px 140px;
        width: 380px;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: 700; }
      .main-decor .slider .slide-subhead {
        display: block;
        font-size: 18px;
        padding-left: 140px;
        width: 380px; }
    .main-decor .slider a.slide-head {
      color: #fff;
      text-decoration: none; }
      .main-decor .slider a.slide-head:hover {
        color: #fff;
        text-decoration: underline; }
    .main-decor .slider .owl-dots {
      position: absolute;
      bottom: 60px;
      left: 140px; }
    .main-decor .slider .owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      margin-right: 20px; }
      .main-decor .slider .owl-dot.active {
        background: #00a896; }
  .main-decor .banner {
    width: 440px;
    height: 320px;
    float: right;
    position: relative; }
    .main-decor .banner-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 440px;
      height: 320px;
      z-index: -1; }
    .main-decor .banner-title {
      padding-top: 45px;
      padding-left: 60px;
      font-size: 24px;
      line-height: 30px;
      color: #fff; }
    .main-decor .banner-link {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      text-decoration: none;
      padding: 20px 60px; }
      .main-decor .banner-link::before {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        top: 0;
        right: 0;
        background: #fff;
        opacity: .3; }
      .main-decor .banner-link:hover::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: .2;
        z-index: -1; }

.page-content {
  padding-bottom: 80px; }

.page-date {
  margin: -20px 0 20px;
  font-weight: 100;
  color: #888; }
  .page-date::before {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e904';
    color: #00a896;
    margin-right: 10px;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    top: -1px; }

.page-tools {
  margin: -5px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .page-tools.decorated {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px; }

.page-tags-button {
  display: inline-block;
  margin: 5px 8px 5px 0;
  color: #333;
  font-weight: 100;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  background: #e2f8f6;
  padding: 0 20px;
  border-radius: 2px; }
  .page-tags-button:hover, .page-tags-button.news-tags-current {
    background: #00a896;
    color: #fff; }

.page-time {
  display: flex;
  align-items: flex-end;
  height: 40px; }
  .page-time-selector {
    margin-right: 65px;
    color: #333;
    text-decoration: none; }
    .page-time-selector:hover {
      color: #00a896; }
    .page-time-selector.page-time-current {
      position: relative;
      cursor: default; }
      .page-time-selector.page-time-current::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        bottom: -21px;
        background: #00a896; }
      .page-time-selector.page-time-current:hover {
        color: #333; }

.page-filters {
  display: flex; }
  .page-filters-select {
    margin-right: 20px; }
  .page-filters .custom-select-menu label {
    display: block; }

.inner-page {
  padding-bottom: 30px; }
  .inner-page::after {
    content: '';
    display: table;
    clear: both; }
  .inner-page-header {
    padding: 25px 0; }
    .inner-page-header h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 40px;
      margin: 0; }
  .inner-page-content {
    font-size: 18px;
    line-height: 30px; }
    .inner-page-content::after {
      content: '';
      display: table;
      clear: both; }
    .inner-page-content h2 {
      margin: 40px 0 30px;
      font-size: 34px;
      font-weight: 500; }
    .inner-page-content h3 {
      margin: 40px 0 30px;
      font-size: 30px;
      font-weight: 500; }
    .inner-page-content p {
      margin: 20px 0 0; }
    .inner-page-content .pull-left {
      float: left;
      padding: 0 40px 20px 0;
      background: #fff; }
    .inner-page-content .pull-right {
      float: right;
      padding: 0 0 20px 40px;
      background: #fff; }
    .inner-page-content blockquote {
      margin: 20px 0 0;
      overflow: hidden; }
      .inner-page-content blockquote.simple {
        background: #f0f9f5;
        border-left: 4px solid #00a896;
        padding: 20px 100px 20px 40px; }
      .inner-page-content blockquote.authored {
        border: 1px solid #00a896;
        position: relative;
        padding: 25px 50px 25px 100px;
        font-style: italic; }
        .inner-page-content blockquote.authored::before {
          content: '«';
          font-size: 80px;
          color: #00a896;
          position: absolute;
          left: 40px;
          top: 25px;
          font-style: normal; }
        .inner-page-content blockquote.authored .author {
          display: block;
          padding: 20px 0 0;
          font-weight: 700;
          font-style: normal; }
          .inner-page-content blockquote.authored .author-info {
            font-size: 16px;
            color: #00a896; }
    .inner-page-content .content-table {
      width: 100%;
      margin: 20px 0;
      border-collapse: collapse; }
      .inner-page-content .content-table th,
      .inner-page-content .content-table td {
        padding: 10px 20px; }
      .inner-page-content .content-table tr:nth-child(odd) td {
        background: #eaf7f6; }
    .inner-page-content ul,
    .inner-page-content ol {
      margin: 40px 0 0;
      padding: 0 0 0 40px;
      list-style: none; }
      .inner-page-content ul li,
      .inner-page-content ol li {
        position: relative;
        margin: 0 0 10px; }
    .inner-page-content ul li::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: #00a896;
      left: -40px;
      top: 13px; }
    .inner-page-content ol {
      counter-reset: o-list; }
      .inner-page-content ol li::before {
        counter-increment: o-list;
        content: counter(o-list, decimal);
        position: absolute;
        font-weight: 700;
        color: #00a896;
        left: -40px; }
    .inner-page-content *:first-child,
    .inner-page-content img:first-child + * {
      margin-top: 0 !important; }

.breadcrumbs {
  margin: 0 -9000px;
  padding: 15px 9000px;
  font-weight: 100;
  border-bottom: 1px solid #e5e5e5;
  background: linear-gradient(to bottom, #ecf3f9, #fff 50%); }
  .breadcrumbs-item {
    margin-left: 35px;
    display: inline-block; }
    .breadcrumbs-item:first-child {
      margin-left: 0; }
      .breadcrumbs-item:first-child::before {
        display: none; }
    .breadcrumbs-item::before {
      content: '';
      position: absolute;
      background: #00a896;
      width: 4px;
      height: 4px;
      margin-left: -20px;
      margin-top: 8px; }
  .breadcrumbs-link {
    color: #333;
    text-decoration: none; }
    .breadcrumbs-link:hover {
      color: #00a896;
      text-decoration: none; }
  .breadcrumbs-current {
    color: #a6a6a6; }

.partners {
  margin: 0 -9000px;
  padding: 30px 9000px;
  border-top: 1px solid #e5e5e5; }
  .partners-slider {
    margin: 0 -40px;
    padding: 0 40px; }
    .partners-slider .owl-dots {
      text-align: center; }
    .partners-slider .owl-dot {
      margin: 20px 10px 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 1px #00a896;
      background: #fff;
      outline: none; }
      .partners-slider .owl-dot.active {
        background: #00a896; }
  .partners-slide {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .partners-link {
    flex-basis: auto; }
  .partners-logo {
    display: block; }

.footer {
  margin: 0 -9000px;
  background-color: #007f84;
  position: relative;
  padding: 60px 9000px;
  display: flex; }
  .footer::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 120px;
    background: url(../images/pattern.png) 50% 100% repeat-x;
    opacity: .1; }
  .footer-part {
    float: left;
    flex: 1 1 25%;
    box-sizing: border-box; }
  .footer-nav {
    margin: 0;
    padding: 0 45% 0 0;
    list-style: none; }
    .footer-nav-item {
      margin-bottom: 30px;
      line-height: 20px; }
    .footer-nav-link {
      color: #fff;
      text-decoration: none; }
      .footer-nav-link:hover {
        color: #fff;
        text-decoration: underline; }
    .footer-nav-tools {
      padding-right: 0; }
  .footer .social {
    padding-top: 20px; }
    .footer .social-link {
      padding-top: 40px;
      float: left;
      margin-right: 10px;
      color: #fff;
      text-decoration: none; }
      .footer .social-link:hover {
        color: #fff;
        text-decoration: none; }
    .footer .social-viber {
      background: #8c33de; }
    .footer .social-facebook {
      background: #2658ea; }
    .footer .social-vk {
      background: #0078ff; }

.section {
  padding: 40px 9000px 80px;
  margin: 0 -9000px;
  border-top: 1px solid #e5e5e5; }
  .section-header {
    margin: 0 0 40px; }
    .section-header h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 500; }
    .section-header .more-link {
      float: right;
      margin-left: 20px;
      line-height: 35px; }
  .section.industries {
    border: 0;
    background: #ebf1f5 url(../images/pattern.png) 50% 100% repeat-x; }
    .section.industries + .section {
      border: 0; }
  .section.additional {
    margin: -40px 0 0;
    padding: 0 0 80px;
    border: 0; }
    .section.additional .section-header {
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5; }

.industry {
  list-style: none;
  margin: -10px 0;
  padding: 0; }
  .industry::after {
    content: '';
    display: table;
    clear: both; }
  .industry-item {
    margin: 10px;
    position: relative;
    float: left;
    width: 380px;
    height: 340px;
    overflow: hidden; }
  .industry-link {
    color: #fff;
    text-decoration: none; }
    .industry-link:hover {
      color: #fff;
      text-decoration: none; }
    .industry-link::before {
      content: '';
      position: absolute;
      height: 100px;
      bottom: -120px;
      left: 0;
      right: 0;
      box-shadow: 0 -100px 50px 50px #000;
      opacity: .5; }
  .industry-img {
    display: block; }
  .industry-title {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 100px;
    padding-right: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 30px; }
    .industry-title::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 40px;
      position: absolute;
      left: 30px;
      top: 30px; }
    .industry-title.industry-icon-01::before {
      content: "\e907";
      color: #5f8f3e; }
    .industry-title.industry-icon-02::before {
      content: "\e908";
      color: #eb1c23; }
    .industry-title.industry-icon-03::before {
      content: "\e909";
      color: #3eb88a; }
    .industry-title.industry-icon-04::before {
      content: "\e90a";
      color: #00a8ff; }
    .industry-title.industry-icon-05::before {
      content: "\e90b";
      color: #5f8f3e; }
    .industry-title.industry-icon-06::before {
      content: "\e90c";
      color: #fff000; }
    .industry-title.industry-icon-07::before {
      content: "\e90d";
      color: #ff7800; }
    .industry-title.industry-icon-08::before {
      content: "\e90e";
      color: #a64bba; }
    .industry-title.industry-icon-09::before {
      content: "\e90f";
      color: #20b6ee; }
    .industry-title::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #fff;
      opacity: .3; }
  .industry-info {
    background: #193e55;
    padding: 60px 9000px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    margin: 40px -9000px 0;
    position: relative; }
    .industry-info::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80px;
      background: url(../images/pattern.png) 50% 0 repeat-x;
      opacity: .1; }
  .industry-part {
    width: 300px;
    box-sizing: border-box;
    padding: 40px 30px 0;
    text-align: center; }
    .industry-part-value {
      margin: 0 auto 40px;
      width: 180px;
      height: 180px;
      border-width: 4px;
      border-style: solid;
      border-color: #ea1cd9;
      box-sizing: border-box;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 20px;
      color: #a0c8e1; }
      .industry-part-value b {
        display: block;
        font-size: 48px;
        line-height: 48px;
        color: #fff; }
      .industry-part-value-percent {
        padding-left: 10px;
        padding-right: 20px;
        position: relative; }
        .industry-part-value-percent::after {
          content: '%';
          position: absolute;
          font-size: 24px;
          top: -10px;
          right: 0; }
      .industry-part-value.cyan {
        border-color: #1cd4ea; }
      .industry-part-value.orange {
        border-color: #ffa800; }
      .industry-part-value.blue {
        border-color: #008aff; }
      .industry-part-value.green {
        border-color: #6ebc09; }

.event-head {
  margin: 0 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .event-head-info {
    background: #eaf7f6;
    padding: 30px 40px;
    width: 400px;
    box-sizing: border-box; }
    .event-head-info dl {
      margin: 0 0 40px; }
    .event-head-info dt {
      font-weight: 700; }
    .event-head-info dd {
      margin: 0 0 20px; }

.copyright {
  background-color: #007f84;
  border-top: 1px solid #33999d;
  padding: 35px 9000px;
  margin: 0 -9000px;
  text-align: center;
  color: #fff; }
  .copyright::before {
    content: "© ";
    color: #53bca8; }

.cabinet-nav {
  float: left;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .cabinet-nav-item {
    margin-bottom: -1px; }
  .cabinet-nav-link {
    display: block;
    border: 1px solid #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    color: #333;
    text-decoration: none; }
    .cabinet-nav-link:hover {
      text-decoration: underline; }
    .cabinet-nav-link.current {
      background: #00a896;
      color: #fff;
      border: 1px solid transparent; }
      .cabinet-nav-link.current:hover {
        text-decoration: none; }

.cabinet-content {
  margin-left: 320px; }
  .cabinet-content .goods {
    margin: 0 -20px; }

.cabinet-reg-form {
  width: 480px; }
  .cabinet-reg-form .form-fields {
    overflow: visible; }
  .cabinet-reg-form .params {
    margin-right: -60px; }

.cabinet-section-head {
  border-bottom: 1px solid #e9edef;
  margin: 40px 0 20px;
  font: 500 30px "Roboto", sans-serif;
  padding: 0 0 10px; }

.cabinet-form-params {
  margin-right: -100px; }
